/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'PT Sans', sans-serif;
    color: #505260;
    background-color: white;
}

a {
    color: #2f889a;
    text-decoration: none;
}

img {
    max-width: 100%;
}

input,
textarea {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.6rem;
}

input::-ms-clear,
textarea::-ms-clear {
    display: none;
}
