body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

.d-block{
  min-height: 500px;
  max-height: 500px;
}

.product_details_block{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}

.product_img{
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: 10px;
  margin-right: 10px;
}

.product_details{
  display:flex;
  flex-direction: row;
}

.product_details > div{
  margin-right: 12px;
}

.infFlexCol{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.my-masonry-grid{
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  margin-left: -10px !important;
  width: auto !important;
  height:fit-content;
}

.my-masonry-grid_column{
  padding-left: 15px !important;
  background-clip: padding-box !important;
}

.my-masonry-grid_column > div {
  background: white !important;
  margin-bottom: 10px !important;
}