.button{
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 8px;
}

.button > div {
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.button > div > div{
    margin: 5px;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.button > div > div > button {
    margin: 5px;
    width: fit-content;
}